<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>Introdução ao Vuejs</title>
</head>
<body>
    <div id="app1">
        <h1>{{ message }}</h1>
    </div>

    <div id="app2">
        <span v-bind:title="message">
          <h2>Exercício 2(pouse o mouse sobre o texto!)</h2>
        </span>
    </div>

    <div id="app3">
        
            <p>1 - clique no botão direito e prima em inspecionar</p>
            <p>2 - Abra o console log e digite "app3.seen = false"</p>
        <span v-if="seen">
            <p><b>3 - Prima enter e esta mensagem irá desaparecer</b></p>
        </span>
    </div>

    <div id="app4">
        <ol>
          <li v-for="pendente in pendentes">
            {{ pendente.text }}
          </li>
        </ol>
      </div>

      <script src="./vue.js"></script>
</body>
</html>